html, body {
	padding: 0;
	margin: 0;
	width: 100%; 
	height: 100%;	
	overflow: hidden;
	background: #000;
	color: #fff;
}

body{
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#gameCanvas {
	width: 100%;
	height: 56.25vw;   /* Aspect Ratio 16:9 */
	display: block;
	background: rgb(62, 67, 104);
}